@charset "UTF-8";

:root {
    --white: #FFFFFF;
    --gray-950: #111111;
    --gray-500: #6b6b6b;
    --yellow: #F4D04E;
}

html, body {
    margin: 0;
    padding: 0;
    color: var(--gray-950)
}

@font-face {
    font-family: Figtree;
    src: url(../assets/fonts/Figtree-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Figtree;
    src: url(../assets/fonts/Figtree-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Figtree;
    src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

html {
    background-color: var(--yellow);
    font-family: 'Figtree';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.card {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 20px;
    border: 1px, solid, black;
    box-shadow: 11px 11px 0 black;
}

.intro-details {
    align-items: start;
    flex-direction: left;
}

.learning-container {
    background-color: var(--yellow);
    width: fit-content;
    padding: 0em 1em;
    border-radius: 4px;
}

.learning {
    font-weight: bold;
    line-height: 150%;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero {
    border-radius: 20px;
    width: 19rem;
}

h1 {
    font-size: 24px;
}

.desc {
    font-size: 14px;
    color: var(--gray-500)
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.name {
    font-weight: bold;
    font-size: 14px;
}